body {
    background-color: #5a1e76;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game-board {
    background-color: #26033d;
    width: 500px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-container {
    width: 60%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.buttons-container > div {
    background-color: #3e1559;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.buttons-container > div:hover {
    background-color: #2c0f3f;
    cursor: pointer;
}